//$primary: #005b9f;
//$danger: #ff4136;

$background: rgb(248, 249, 250);//#fafafc;
$background-dark: #1c1e21;
$container-bg-dark: #393e44;
$sidebar-bg: #272b2f;
$sidebar-bg-dark: #272b2f;
$navbar-bg: royalblue;
$navbar-bg-dark: #0d0d0d;

@import "~bootstrap/scss/bootstrap";

.dark {

  #content {
    background-color: $background-dark;
  }

  .app-navbar {
    background-color: $navbar-bg-dark;
  }

  .sidebar{
    background-color: $sidebar-bg-dark;
  }

  .card {
    background-color: $container-bg-dark;
  }

  .table {
    color: white;
  }

  .text-muted {
    color: #C8C8C8 !important;
  }

  .modal-content {
    background-color: $container-bg-dark;
  }

  .list-group-item {
    background-color: $container-bg-dark;
    border-color: #C8C8C8;
    color: white;
  }

  .btn-outline-secondary {
    color: #C8C8C8;
  }

  .form-control, .form-select {
    color: white;
    background-color: #282c30;
    border-color: var(--bs-gray);
  }

  .form-select {
    // change dropdown arrow color
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e")
  }

  color: white;
}

// mobile browser navbar fix
body {
  height: 100vh; 
  overflow: hidden;
}

.main {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100vh;
  // on mobile 
  @include media-breakpoint-down(lg) {
   height: calc(100vh - 56px); // navbar height
  }
}

#content {
  padding-top: 20px;
  background-color: $background;
  position: relative;
  padding-bottom: 80px;
}

.sidebar {
  width: 280px;
  overflow-y: auto;
  background-color: $sidebar-bg;
  .active {
    background-color: darkorchid !important;
  }
}

.app-navbar {
  background-color: $navbar-bg;
  // on mobile 
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.center-rel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toast-position {
  position: fixed;
  bottom: 80px;
  left: 50%;
  
  // on mobile 
  @include media-breakpoint-down(lg) {
    transform: translateX(-50%)
  }
  // on desktop take the sidebar into account
  @include media-breakpoint-up(lg) {
    transform: translateX(-50%) translate(140px);
  }
}

#walletSetupContent {
  background-color: $background;
  overflow-x: auto;
  overflow-y: auto;
  height: 100vh;
  padding-bottom: 80px;
}

.dark {
  #walletSetupContent {
    background-color: $background-dark;
  }
}

.code-block {
  font-size: 1rem;
  font-family: var(--bs-font-monospace);
  color: #d63384;
  background-color: aliceblue;
  word-wrap: break-word;
}

.dark {
  .code-block {
    background-color: #282c30;
  }
  .alert-warning {
    background-color: $yellow-400;
    border-color: $yellow-500;
  }
}
