//$primary: #005b9f;
//$danger: #ff4136;

$background: rgb(248, 249, 250);//#fafafc;
$background-dark: #1c1e21;
$container-bg-dark: #393e44;
$sidebar-bg: #272b2f;
$sidebar-bg-dark: #272b2f;
$navbar-bg: royalblue;
$navbar-bg-dark: #0d0d0d;

.dark {

  #content {
    background-color: $background-dark;
  }

  .navbar-bg {
    background-color: $navbar-bg-dark;
  }

  .sidebar-bg{
    background-color: $sidebar-bg-dark;
  }

  .card {
    background-color: $container-bg-dark;
  }

  .table {
    color: #ffffff;
  }

  .text-muted {
    color: #C8C8C8 !important;
  }

  .modal-content {
    background-color: $container-bg-dark;
  }

  color: #ffffff;
}



@import "~bootstrap/scss/bootstrap";

.main {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  height: calc(100vh - 56px);
}

#content {
  padding-top: 20px;
  background-color: $background;
  position: relative;
}

#desktopSidebar {
  width: 280px;
  overflow-y: auto;
}

.navbar-bg{
  background-color: $navbar-bg;
}

.sidebar-bg{
  background-color: $sidebar-bg;
}

.center-rel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.active {
  background-color: darkorchid !important;
}

.toast-position {
  position: fixed;
  bottom: 30px;
  left: 50%;
  
  // on mobile 
  @include media-breakpoint-down(lg) {
    transform: translateX(-50%)
  }
  // on desktop take the sidebar into account
  @include media-breakpoint-up(lg) {
    transform: translateX(-50%) translate(140px);
  }
}

#walletSetupContent {
  background-color: rgb(248, 249, 250);//#F0F0F0;
  overflow-x: auto;
  overflow-y: auto;
  height: 100vh;
}